* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

#header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  background-color: rgb(238, 238, 238);
  justify-content: space-between;
}

#header-img {
  margin: 25px;
}

#nav-bar {
  align-self: center;
  margin-right: 30px;
}

#nav-bar li {
  display: inline;
  margin: 25px;
}

#nav-bar a {
  text-decoration: none;
  color: black;
  font-size: ;
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: rgb(238, 238, 238);
  margin-top: 85px;
}

#form {
  margin: 0 auto;
}

#form h2 {
  margin-bottom: 10px;
}

#form input[type="email"] {
  width: 275px;
  height: 30px;
  margin-left: 50px;
  padding-left: 20px;
}

#form input[type="submit"] {
  margin-top: 10px;
  margin-left: 140px;
  background-color: #f1c40f;
  color: black;
  font-weight: 900;
  border: none;
  width: 110px;
  height: 30px;
  padding: 5px;
}

#features {
  margin: 0 auto;
  margin-top: 100px;
}

#features h3 {
  padding-bottom: 25px;
  padding-top: 25px;
}

i {
  float: left;
  margin: 20px;
  color: darkorange;
}

@media (max-width: 800px) {
  #header {
    flex-direction: column;
  }

  #header-img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  #nav-bar li {
    margin: 10px;
  }

  #nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}