#main {
  margin: 20px 10px;
  background-color: #eee;
  border-radius: 10px;
}
  
#title {
  padding-top: 25px;
  text-align: center;
  font-weight: bold;
}

.title-description {
  padding-top: 10px;
  text-align: center;
}

#img-div {
  background-color: white;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#img-caption {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.tribute-heading {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.17em;
  font-weight: bold;
}

.timeline {
  margin-left: 25%;
  margin-right: 25%;
}

.timeline li {
  margin-bottom: 10px;
}

.blockquote-container {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 600px;
  font-style: italic;
  text-align: left;
}

.moreabout-link {
  padding: 30px;
  font-size: 1.17rem;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .timeline {
    margin-left: 5%;
    margin-right: 5%;
  }
}